
<!doctype html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.png" />
    <title>404 not found :(</title>
</head>
<body>
    <div>
        <img src="/assets/images/blobfoxcry.svg">
        <br>
        <h1>Not the 404!</h1>
        <p>If someone linked you to this page, then I am sorry for not up-keeping my promise of not breaking links.</p>
        <p>You might have some luck finding the article you are looking for in the <a href="/">home page</a>.</p>
        <p>Otherwise you will have to try your luck in the <a href="https://archive.org/">Wayback Machine</a></p>
    </div>
</body>

<style>
    html {
        height: 100%;
    }
    
    body {
        margin: 0;
        padding: 0;
        background: #111118;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
    }

    a {
        color: white;
    }
</style>