---
import Layout from '../layouts/Layout.astro';
import { Constant } from '../constant';
import PostCard from '../components/PostCard.astro';
const posts = Object.values(import.meta.glob("./blog/**/*.md*", { eager: true })) as any;
---

<Layout title={Constant.brand} description={Constant.description}>
	<h1>Amber's Blog Posts</h1>
	<ul role="list" class="posts">
		{posts.sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime()).map((post) => {
			return <PostCard post={post} />
		})}
	</ul>
</Layout>

<style>
	h1 {
		margin: 0.25rem;
		margin-bottom: 1.25rem;
	}

	.posts {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		gap: 1rem;
	}
</style>