---
import Nav from "./Nav.astro";
---

<hr>
<div class="footer">
	<div class="license">
			<a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" title="Content licensed under CC BY-NC 4.0" aria-label="Content licensed under CC BY-NC 4.0" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
			<img style="height:28px;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="">
			<img style="height:28px;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="">
			<img style="height:28px;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt=""></a>
	</div>
	<Nav>
		<a href="https://wetdry.world/@lx862"><img class="footer-icon" title="Mastodon" alt="Mastodon" src="/assets/images/mastodon.svg"></a>
		<a href="/feed/feed.xml"><img class="footer-icon" title="RSS Feeds" alt="RSS Feeds" src="/assets/images/blobcatrss.png"></a>
		<a href="mailto:lx86@lx862.com"><img class="footer-icon" title="Email" alt="Email" src="/assets/images/blobfoxnommail.svg"></a>
	</Nav>
	<div class="last-updated">
		<p>LX86 {new Date().getFullYear()}</p>
	</div>
</div>

<style>
	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		color: rgb(var(--text-color));
	}

	.footer-icon {
		vertical-align: middle;
		height: 2rem;
	}
</style>
