---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a class="pill" href={href}>
	<slot />
</a>

<style is:global>
	.pill[href] {
		position: relative;
		display: inline-block;
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius-lg);
		transition: 0.2s background-color;
		background-color: var(--container-background);
		padding: 0 0.75rem;
		color: var(--text-color);
		text-decoration: none;
	}

	.pill:hover {
		background-color: var(--main-amber);
	}
</style>
