---
import Card from "./blog/Card.astro";
import SmallPill from "./Pill.astro";

const { post } = Astro.props;

export function getPostLink(post) {
	let path = post.file.split("/");
	path.pop();
	let parentFolder = path.pop();
	return "/blog/" + parentFolder;
}
---

<Card title={post.frontmatter.title} href={getPostLink(post)} date={post.frontmatter.pubDate.toString().substring(0,10)}>
	<p class="post-desc">{post.frontmatter.description}</p>
	<div class="tags">
		{post.frontmatter.tags.map(tagName => <SmallPill href={'/tags/' + tagName}>{tagName}</SmallPill>)}
	</div>
</Card>

<style>
	.tags {
		margin-top: 0.5rem;
		margin-bottom: 0.25rem;
	}

	.post-desc {
		font-style: oblique 10deg;
	}
</style>
