---
interface Props {
	title: string;
	href: string;
	date?: string;
}

const { href, title, date } = Astro.props;
---

<li class="link-card">
	<div>
		<a class="header" href={href}>{title}</a> <span class="date">{date}</span>
		<p class="description">
			<slot />
		</p>
	</div>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.5rem 0.75rem;
		background: var(--post-header-color);
		border-radius: var(--border-radius-lg);
		border: 1px solid rgba(255, 255, 255, 0.2);
		/* transition: 0.4s margin cubic-bezier(0, 0.55, 0.45, 1); */
	}

	/* .link-card:hover {
		margin: 0 -2rem;
	} */

	.header {
		font-size: 1.25rem;
		font-weight: var(--title-font-weight);
	}
	
	.description {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.date {
		margin-left: .5rem;
		font-size: 0.8rem;
		opacity: 0.75;
	}
</style>
