---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="blog-card">
    <h1 class="title">{title}</h1>
    <slot />
</div>

<style>
    .blog-card {
        font-size: 0.9rem;
        background: linear-gradient(to bottom right, rgba(135, 0, 255, 0.15), rgba(135, 0, 255, 0));
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius-md);
        padding: 0 1rem;
    }

    .title {
        line-height: 1;
        padding: 0;
        font-size: 1.25rem;
    }
</style>