---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { Constant } from '../constant';
import "../styles/global.css";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="author" content={Constant.author} />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#FFCC00">
		<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.png" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<Header />
		</header>
		<main class="container">
			<slot />
		</main>
		<footer>
			<Footer />
		</footer>
	</body>
</html>

<style>
	main {
		padding: 1rem;
		line-height: 1.75rem;
		color: var(--text-color);
		font-weight: var(--font-weight);
	}
</style>

<style is:global>
	
</style>